/*
Theme Name: Prime Solutions
Author: Karen Kochinyan
Version: 1.0
*/
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.chocolate-bg {
    background-color: chocolate;
}

.green-bg {
    background-color: green;
}

.btn {
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    opacity: .8;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #777;
    outline: none;
}

.search-form-container {
    margin-bottom: 20px;
}

.images-all {
    width: 50%;
    float: left;
}

.item {
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 0 10px 10px 0;
    overflow: hidden;
    border: 1px solid #ddd;
    float: left;
}

.item img {
    height: 100%;
    width: auto;
}